.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comics {
    margin: 20px;
    width: calc(100% - 40px);

    padding: 10px 15px;
    box-sizing: border-box;
    transition: all .5s;
}

.comics:hover {
    background-color: pink;
}
