.header {
    margin: 0;
    padding: 0;
    
    height: 80px;
    background-color: slateblue;
    color: snow;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
